{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}
    <link rel = "stylesheet" href = "{{ asset('CSS/home.css') }}" />

{% endblock %}

{% block body %}

    <section id = "header-section">

        <div id = "header-section-content" class = "flex-column">

            <div id = "header-section-title" class = "flex-row">

                <h1>Nos amis les oiseaux</h1>

            </div>

            <div id = "header-section-box" class = "flex-column">

                <p class = "flex-row">Rejoignez une communauté investie dans l'observation et le recensement des oiseaux</p>

                <div id = "buttons" class = "flex-column">

                    <a href = "#comment-ça-marche"><button class = "btn ccm">Comment ça marche ?</button></a>
                    <a href = "#qui-sommes-nous"><button class = "btn qsn">Qui sommes-nous ?</button></a>
                    <a href = "{{ path('fos_user_registration_register') }}"><button class="btn">S'inscrire</button></a>

                </div>

            </div>

        </div>

    </section>

    <section id = "ccm" class = "flex-column">

        <div id = "ccm-section-title" class = "flex-row">

            <h2>Comment ça marche ?</h2>

        </div>

        <div id = "ccm-section-content">

            <div id = "ccm-section-search-box" class = "flex-column">

                <h3 class = "flex-row">Recherchez</h3>
                <i class="fa fa-4x fa-search" aria-hidden="true"></i>
                <p class = "flex-row">Parcourez notre carte interactive pour localiser les espèces observées par la comunauté.</p>
                <a href = "{{ path('map') }}"><button class = "btn">Parcourir la carte</button></a>

            </div>

            <div id = "ccm-section-observation-box" class = "flex-column">

                <h3 class = "flex-row">Observez</h3>
                <i class="fa fa-4x fa-binoculars" aria-hidden="true"></i>
                <p class = "flex-row">Rejoignez la comunauté et aidez à répertorier les espèces sur votre territoire.</p>
                {% if app.user != null and "ROLE_PARTICULIER" in app.user.roles %}
                    <a href = "{{ path('add_observation') }}"><button class = "btn">Ajouter une observation</button></a>
                {% else %}
                    <a href = "{{ path('fos_user_registration_register') }}"><button class = "btn">S'inscrire</button></a>
                {% endif %}
            </div>

            <div id = "ccm-section-participate-box" class = "flex-column">

                <h3 class = "flex-row">Participez</h3>
                <i class="fa fa-4x fa-calendar-check-o" aria-hidden="true"></i>
                <p class = "flex-row">Devenez référent et aidez à la gestion des observations et des utilisateurs.</p>
                {% if app.user != null and "ROLE_NATURALISTE" in app.user.roles %}
                    <a href = "{{ path('observation_list') }}"><button class = "btn">Gérer les observations</button></a>
                {% elseif app.user != null and "ROLE_PARTICULIER" in app.user.roles %}
                    <a href = "{{ path('add_observation') }}"><button class = "btn">Ajouter une observation</button></a>
                {% else %}
                    <a href = "{{ path('fos_user_registration_register') }}"><button class = "btn">S'inscrire</button></a>
                {% endif %}

            </div>

        </div>

    </section>

    <section id = "qsn" class = "flex-column">

        <div id = "qsn-section-title" class = "flex-row">

            <h2>Qui sommes-nous ?</h2>

        </div>

        <div id = "qsn-section-content" class = "flex-column">

            <p>

                L'association NAO (Nos Amis les Oiseaux) regroupe les passionnés d'ornithologie.
                Rejoignez l'association afin de prendre part à un programme de recherche
                visant à étudier les effets du climat, de l'urbanisation et de l'aggriculture sur la biodiversité.

            </p>

            <a href = "{{ path('contact') }}"><button class = "btn">Nous contacter</button></a>

        </div>

    </section>

{% endblock %}


