{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(
	form, {
		'method': 'post', 
		'action': path('fos_user_registration_register'), 
		'attr': {'class': 'fos_user_registration_register'}
	}) 
}}


{{ form_errors(form) }}

<div class="form-group">
	{{ form_row(form.email) }}
</div>

<div class="form-group">
	{{ form_row(form.username) }}
</div>

<div class="form-group">
	{{ form_row(form.plainPassword) }}
</div>

<div class="form-group row mt-4">
  <div class="m-auto">
    <input type="submit" class="btn btn-info" value="Créer un compte" />
  </div>
</div>

{{ form_end(form) }}