{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
	<h2 class="secondary-title">Informations</h2>

	<div class="col-lg-11">
		<div class="row">
			<div class="col-lg-3">
				<img src="{{ asset(user.picture) }}" style="width: 100%;" alt="photo_utilisateur" />
			</div>

			<div class="col-lg-9">
				<h3 <hr class="mb-0">{{ user.username }}</h3>

				<hr class="mt-1 mb-1">

				<h5>{{ user.firstname }} {{ user.lastname }}</h5>				
				<p class="mb-0">
					{{ user.adress}}
				</p>
				<p class="mb-0">
					{{ user.postalcode }} {{ user.city }}
				</p>
				<p class="mb-0">
					{{ user.phone }}
				</p>
				<p class="mb-0">
					<a href="mailto:{{ user.email }}">{{ user.email }}</a>
				</p>
				
				<hr class="mt-1 mb-1">

				<p class="mb-0">
					Statut : {{ user.status }}<br/>
					Nombre d'observations : {{ user.observations|length }}
				</p>
			</div>
		</div>
	</div>

	<div class="col-lg-11 mt-3">
		<div class="row">
			<div class="col-lg-3">
				<a href="{{ path('fos_user_profile_edit') }}" style="width: 100%;" class="btn btn-info" role="button">Modifier vos informations</a>
			</div>
		</div>
	</div>

	<div class="col-lg-11 mt-3">
		<div class="row">
			<div class="col-lg-3">
				<a href="{{ path('fos_user_change_password') }}" style="width: 100%;" class="btn btn-secondary" role="button">Modifier votre mot de passe</a>
			</div>
		</div>
	</div>


	<h2 class="mt-3 secondary-title">Observations</h2>
	<div class="col-lg-12 m-auto p-0">
		<table id="table-profil-show" class="table mt-3 hover">
		  <thead class="main-thead">
		    <tr>
		      <th>Nom de l'espèce</th>
		      <th class="text-right">Date</th>
		      <th class="text-right">Coordonnées GPS</th>
		      <th class="text-right">En savoir plus</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for observation in user.observations %}
			    <tr>
			      <td>{{ observation.birdname }}</td>
			      <td class="text-right">{{ observation.publishedat|date("d/m/Y") }}</td>
			      <td class="text-right">{{ observation.longitude }} / {{ observation.latitude }}</td>
			      <td class="text-right">
			      	<a href="{{ path('observation', {'id': observation.id }) }}">Consulter</a>
			      </td>
			    </tr>
		  	{% endfor %}
		  </tbody>
		</table>
	</div>


</div>
